name: test-pack

on:
  push:
    branches:
      - dev

jobs:
  test-pack-release:
    runs-on: ubuntu-latest
    name: Test, Pack and Release
    steps:
      - name: Configure environment
        id: config
        run: |
          VERSION=$(echo $GITHUB_REF | sed -e "s/^refs\/tags\/v//")
          echo ::set-output name=version::$VERSION

      - name: Fetch repository
        uses: actions/checkout@master

      - name: Test and pack
        uses: oxr463/setup-leiningen@0.0.1
        with:
          exec: |
            sed -i "s/com.github.yjcyxky\/metadata-tool \"0.1.1\"/com.github.yjcyxky\/metadata-tool \"${{steps.config.outputs.version}}\"/g" project.clj && \
            lein update-version && \
            lein test && \
            lein uberjar

      - name: Output
        run: echo "${{steps.config.outputs.version}}"